/*-- -------------------------- -->
<---           About            -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0em) {
  #about-section {
    padding-top: 10em;
    padding-bottom: 5em;
    background-color: var(--coloura);
    margin: auto;
  }
  #about-section .about-container {
    width: 90%;
    margin: auto;
  }
  #about-section .about-container .about-columns .about-image {
    width: 90%;
    height: auto;
    display: none;
  }
  #about-section .about-container .about-columns .about-text {
    font-family: "heading";
    padding-bottom: 3em;
    opacity: 0;
    transition: opacity 2s ease, transform 1.5s ease;
    transform: translateY(25%);
  }
  #about-section .about-container .about-columns .about-text.text-appear {
    transform: translateY(0);
    opacity: 1;
  }
  #about-section .about-container .about-columns .tagline-heading {
    color: var(--colourc);
    font-family: "heading-italic";
    font-weight: 400;
    text-align: left;
    opacity: 0;
    transition: opacity 2s ease, transform 1.5s ease;
    transform: translateY(50%);
  }
  #about-section .about-container .about-columns .tagline-heading.text-appear {
    transform: translateY(0);
    opacity: 1;
  }
  #about-section .about-container .center-button {
    padding-top: 1em;
    text-align: left;
  }
}
/* Tablet */
/* Small Desktop */
@media only screen and (min-width: 64em) {
  #about-section {
    max-width: 1200px;
  }
  #about-section .about-container .about-columns {
    padding-top: 2em;
    display: flex;
    justify-content: space-between;
  }
  #about-section .about-container .about-columns .about-image {
    width: 90%;
    height: auto;
    display: block;
  }
  #about-section .about-container .about-columns .tagline-heading {
    align-self: center;
  }
}
/* Large Desktop */
@media only screen and (min-width: 1500px) {
  #about-section {
    max-width: 1300px;
  }
}
