/*-- -------------------------- -->
<---           Form             -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0em) {
  #left-section {
    padding-bottom: 2em;
    margin: auto;
  }
  #left-section p {
    font-size: 1.5em;
    font-family: "Heading";
    line-height: 1.5;
    color: #595959;
    margin-bottom: 0.05555556em;
  }
  #form {
    padding-top: 10em;
    width: 90%;
    margin: auto;
    margin-bottom: -2em;
  }
  #form h2 .italic {
    font-family: "heading-italic";
  }
  #form h5 {
    font-size: 1.1em;
    font-family: "body";
    line-height: 1.55555556;
    color: #000;
    font-weight: 200;
    margin-bottom: 2em;
    position: relative;
  }
  #form p a {
    font-family: "body";
    font-size: 0.75em;
    line-height: 1.5;
    color: #000;
    margin-bottom: 1.33333333em;
    font-weight: 200;
    transform: .3s ease;
  }
  #form p a:hover {
    color: var(--colourc);
  }
  #form #contact {
    margin-bottom: 5em;
  }
  #form #contact .input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5em;
  }
  #form #contact .input-group label {
    font-size: 0.8em;
    margin-bottom: 0.375em;
  }
  #form #contact .input-group input[type="text"],
  #form #contact .input-group input[type="email"],
  #form #contact .input-group input[type="tel"],
  #form #contact .input-group input[type="url"],
  #form #contact .input-group input {
    font-size: 0.8em;
    border: none;
    border-bottom: 1px solid #d4d4d4;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    background: transparent;
    transition: .3s ease;
  }
  #form #contact .input-group input:hover {
    border: none;
    /* Removes all borders */
    border-bottom: 2px solid var(--colourc) !important;
    /* Adds only an underline */
    outline: none;
    /* Removes default browser focus outline */
  }
  #form #contact .input-group input:focus {
    border: none;
    border-bottom: 2px solid var(--colourc) !important;
    /* Adds only an underline */
    outline: none;
  }
  #form #contact .input-group textarea {
    height: 3.35em;
    border: none;
    border-bottom: 1px solid #d4d4d4;
    font-size: 0.8em;
    background: transparent;
    min-height: 10em;
    padding-top: 1em;
    transition: .3s ease;
  }
  #form #contact .input-group textarea:hover {
    border: none;
    /* Removes all borders */
    border-bottom: 2px solid var(--colourc) !important;
    /* Adds only an underline */
    outline: none;
    /* Removes default browser focus outline */
  }
  #form #contact .input-group textarea:focus {
    border: none;
    /* Removes all borders */
    border-bottom: 2px solid var(--colourc) !important;
    /* Adds only an underline */
    outline: none;
    /* Removes default browser focus outline */
  }
  #form #contact .input-group ::placeholder {
    color: #b9b9b9;
    font-family: "Roboto", sans-serif;
  }
}
/* Mobile Landscape */
/* Tablet */
@media only screen and (min-width: 48em) {
  #form .contact-container .right-section #contact {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
  }
  #form .contact-container .right-section #contact .input-group {
    width: 100%;
    margin-bottom: 2.5em;
    position: relative;
  }
  #form .contact-container .right-section #contact .input-group:nth-of-type(5) {
    width: 100%;
  }
  #form .contact-container .right-section #contact .input-group:last-of-type {
    width: 100%;
  }
  #form .contact-container .right-section #contact .input-group:hover .hover-box {
    height: 2.3em;
    border: 0.05em solid var(--primary);
    pointer-events: none;
  }
  #form .contact-container .right-section #contact .input-group:hover input[type="text"],
  #form .contact-container .right-section #contact .input-group:hover input[type="email"],
  #form .contact-container .right-section #contact .input-group:hover input[type="tel"],
  #form .contact-container .right-section #contact .input-group:hover input[type="url"],
  #form .contact-container .right-section #contact .input-group:hover textarea {
    padding-left: 1em;
  }
  #form .contact-container .right-section #contact .input-group input[type="text"],
  #form .contact-container .right-section #contact .input-group input[type="email"],
  #form .contact-container .right-section #contact .input-group input[type="tel"],
  #form .contact-container .right-section #contact .input-group input[type="url"],
  #form .contact-container .right-section #contact .input-group textarea {
    border-bottom: none;
    position: relative;
    transition: padding .3s;
    background: transparent;
  }
  #form .contact-container .right-section #contact .input-group .hover-box {
    position: absolute;
    display: block;
    height: 0.05em;
    width: 100%;
    background: transparent;
    border: 0.05em solid #e9e8e8;
    opacity: 1;
    bottom: 0.05em;
    left: 0;
    z-index: 10;
    transition: height .9s, border .3s;
    z-index: -1;
    height: auto !important;
    /* Prevents hover effect */
  }
  #form .contact-container .right-section #contact .input-group .textarea:hover .hover-box {
    height: auto !important;
    /* Prevents hover effect */
  }
  #form .contact-container .right-section #contact .input-group .form-submit {
    display: flex;
    justify-content: center;
  }
}
/* Small Desktop */
@media only screen and (min-width: 64em) {
  #form {
    padding-top: 11em;
    padding-bottom: 0;
    margin: auto;
    max-width: 1080px;
  }
  #form .contact-container {
    padding-top: 3em;
    display: flex;
    justify-content: space-between;
    font-size: 1.5vw;
    width: 100%;
    max-width: none;
  }
  #form .contact-container #left-section {
    width: 35%;
    margin-left: 0;
    margin-top: 0;
  }
  #form .contact-container #right-section {
    width: 60%;
    margin-left: 0;
  }
  #form .contact-container #contact {
    margin-right: 0;
    max-width: none;
  }
}
/* Large Desktop */
@media only screen and (min-width: 1500px) {
  #form {
    font-size: inherit;
    max-width: 1170px;
  }
}
