section {
  margin: auto;
  padding-bottom: 2em;
}
/*-- -------------------------- -->
<---          Landing           -->
<--- -------------------------- -*/
main {
  min-height: 50em;
}
/* Mobile */
@media only screen and (min-width: 0em) {
  #landing-section {
    position: relative;
    width: 100%;
    height: clamp(650px, 100vh, 1200px);
  }
  #landing-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/images/bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.2;
    z-index: -1;
  }
  #landing-section .landing-text {
    width: 90%;
    align-items: center;
    margin: auto;
    padding-top: 23vh;
    padding-bottom: 2vh;
  }
  #landing-section .landing-text .line-1 {
    text-align: left;
    font-family: "Heading";
    font-size: 8.5vw;
    font-weight: 500;
    padding-bottom: 0em;
    padding-top: .5em;
    margin: 0;
    color: var(--colourc);
    opacity: 0;
    transition: opacity 2s ease, transform 2s ease;
  }
  #landing-section .landing-text .line-1.text-appear {
    opacity: 1;
  }
  #landing-section .landing-text .line-2-wrapper .line-2 {
    width: 80%;
    max-width: 400px;
    padding-top: 1.5em;
    font-family: "heading";
    font-size: 20px;
    font-weight: 300;
    opacity: 0;
    transition: opacity 0.6s ease, transform 1.5s ease;
    transform: translateY(50%);
    transition-delay: 0.3s;
  }
  #landing-section .landing-text .line-2-wrapper .line-2.text-appear {
    transform: translateY(0);
    opacity: 1;
  }
  #landing-section .landing-text .center-button {
    text-align: center;
    padding-top: 7vh;
  }
}
/* Tablet */
@media only screen and (min-width: 48em) {
  #landing-section .landing-text .line-1 {
    font-size: 60px;
    max-width: 735px;
  }
  #landing-section .landing-text .line-2 {
    font-size: 22px !important;
  }
}
/* Small Desktop */
@media only screen and (min-width: 64em) {
  #landing-section .landing-text {
    display: flex;
    justify-content: space-between;
  }
  #landing-section .landing-text .line-1 {
    font-size: clamp(16px, 5vw, 72px);
    width: 58%;
  }
  #landing-section .landing-text .line-2-wrapper {
    width: 38%;
    max-width: none;
  }
  #landing-section .landing-text .line-2-wrapper .line-2 {
    font-size: 24px !important;
  }
  #landing-section .landing-text .line-2-wrapper .center-button {
    padding-top: 5vw;
    text-align: left;
  }
}
/* Large Desktop */
/*-- -------------------------- -->
<---           About            -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0em) {
  #about-section {
    background-color: var(--coloura);
    padding-bottom: 4em;
  }
  #about-section .about-container {
    width: 90%;
    margin: auto;
  }
  #about-section .about-container .about-heading {
    padding-top: 3em;
    opacity: 0;
    transition: opacity 2s ease;
  }
  #about-section .about-container .about-heading.text-appear {
    opacity: 1;
  }
  #about-section .about-container .about-columns .about-text {
    font-family: "heading";
    padding-top: 1em;
    padding-bottom: 3em;
    opacity: 0;
    transition: opacity 2s ease, transform 1.5s ease;
    transform: translateY(25%);
  }
  #about-section .about-container .about-columns .about-text.text-appear {
    transform: translateY(0);
    opacity: 1;
  }
  #about-section .about-container .about-columns .tagline-heading {
    color: var(--colourc);
    font-family: "heading-italic";
    font-weight: 400;
    text-align: center;
    opacity: 0;
    transition: opacity 2s ease, transform 1.5s ease;
    transform: translateY(50%);
  }
  #about-section .about-container .about-columns .tagline-heading.text-appear {
    transform: translateY(0);
    opacity: 1;
  }
  #about-section .about-container .center-button {
    padding-top: 1em;
    text-align: center;
  }
}
/* Tablet */
/* Small Desktop */
@media only screen and (min-width: 64em) {
  #about-section .about-container .about-heading {
    text-align: center;
    padding-bottom: 1em;
    padding-top: 3em;
  }
  #about-section .about-container .about-columns {
    display: flex;
    justify-content: space-between;
  }
  #about-section .about-container .about-columns .about-text {
    width: 45%;
  }
  #about-section .about-container .about-columns .tagline-heading {
    width: 45%;
    align-self: center;
  }
}
/* Large Desktop */
/*-- -------------------------- -->
<---           Services         -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0em) {
  #service-section,
  #portfolio-section {
    transition: background-color 0.3s ease;
  }
  #service-section.in-view,
  #portfolio-section.in-view {
    background-color: var(--colourb);
  }
  #service-section {
    padding-top: 5em;
    align-items: center;
    position: relative;
  }
  #service-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/images/bg2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
  }
  #service-section .service-container {
    max-width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-bottom: 1em;
  }
  #service-section .service-container .left-services {
    width: 40%;
    overflow: hidden;
  }
  #service-section .service-container .left-services .service {
    padding-bottom: 8em;
    overflow: hidden;
  }
  #service-section .service-container .left-services .service .line-break {
    width: 100%;
    background-color: #000;
    height: 1.5px;
    border-radius: 5px;
    margin-top: .4em;
    margin-bottom: .4em;
    transition: opacity 0.3s ease, transform 1s ease;
    transform: translateX(-100%);
    opacity: 0;
  }
  #service-section .service-container .left-services .service .line-break.in-view {
    background-color: white;
  }
  #service-section .service-container .left-services .service .line-break.slide {
    transform: translateX(0);
    opacity: 1;
  }
  #service-section .service-container .left-services .service .service-wrapper {
    overflow: hidden;
  }
  #service-section .service-container .left-services .service .service-wrapper .service-heading {
    font-family: "heading";
    margin-bottom: 0;
    transition: opacity 0.3s ease, transform 1.5s ease;
    transform: translateY(100%);
    opacity: 0;
  }
  #service-section .service-container .left-services .service .service-wrapper .service-heading.in-view {
    color: white;
  }
  #service-section .service-container .left-services .service .service-wrapper .service-heading.slide {
    transform: translateY(0);
    opacity: 1;
  }
  #service-section .service-container .left-services .service .service-wrapper .service-body {
    padding-bottom: 1em;
    font-family: "heading";
    font-weight: 500;
    transition: opacity 0.3s ease, transform 1.5s ease;
    transform: translateY(-100%);
    opacity: 0;
  }
  #service-section .service-container .left-services .service .service-wrapper .service-body.in-view {
    color: white;
  }
  #service-section .service-container .left-services .service .service-wrapper .service-body.slide {
    transform: translateY(0);
    opacity: 1;
  }
  #service-section .service-container .right-services {
    width: 40%;
    overflow: hidden;
  }
  #service-section .service-container .right-services .service {
    padding-top: 8em;
    overflow: hidden;
  }
  #service-section .service-container .right-services .service .line-break {
    width: 100%;
    background-color: #000;
    height: 1.5px;
    border-radius: 5px;
    margin-top: .4em;
    margin-bottom: .4em;
    transition: opacity 0.3s ease, transform 1s ease;
    transform: translateX(100%);
    opacity: 0;
  }
  #service-section .service-container .right-services .service .line-break.in-view {
    background-color: white;
  }
  #service-section .service-container .right-services .service .line-break.slide {
    transform: translateX(0);
    opacity: 1;
  }
  #service-section .service-container .right-services .service .service-wrapper {
    overflow: hidden;
  }
  #service-section .service-container .right-services .service .service-wrapper .service-heading {
    font-family: "heading";
    margin-bottom: 0;
    transition: opacity 0.3s ease, transform 1.5s ease;
    transform: translateY(100%);
    opacity: 0;
  }
  #service-section .service-container .right-services .service .service-wrapper .service-heading.in-view {
    color: white;
  }
  #service-section .service-container .right-services .service .service-wrapper .service-heading.slide {
    transform: translateY(0);
    opacity: 1;
  }
  #service-section .service-container .right-services .service .service-wrapper .service-body {
    padding-bottom: 1em;
    font-family: "heading";
    font-weight: 500;
    transition: opacity 0.3s ease, transform 1.5s ease;
    transform: translateY(-100%);
    opacity: 0;
  }
  #service-section .service-container .right-services .service .service-wrapper .service-body.in-view {
    color: white;
  }
  #service-section .service-container .right-services .service .service-wrapper .service-body.slide {
    transform: translateY(0);
    opacity: 1;
  }
  #service-section .center-button {
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
  }
}
/* Tablet */
/* Small Desktop */
/* Large Desktop */
/*-- -------------------------- -->
<---           portfolio        -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0em) {
  #portfolio-section {
    background-color: var(--coloura);
  }
  #portfolio-section .portfolio-container {
    width: 90%;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
    padding-top: 2em;
    padding-bottom: 2em;
    overflow: hidden;
    height: auto;
  }
  #portfolio-section .portfolio-container h2 {
    font-size: 1.6em;
    font-weight: 700;
    font-family: "heading";
    transition: 0.3s ease, opacity 1.7s ease;
  }
  #portfolio-section .portfolio-container h2.in-view {
    color: var(--colourc);
  }
  #portfolio-section .portfolio-container .images {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    padding-bottom: 2em;
  }
  #portfolio-section .portfolio-container .images .image-box {
    width: 100%;
    text-align: left;
    overflow: hidden;
    background-color: var(--coloura);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  #portfolio-section .portfolio-container .images .image-box.in-view {
    background-color: var(--colourb);
  }
  #portfolio-section .portfolio-container .images .image-box .image-wrapper {
    overflow: hidden;
  }
  #portfolio-section .portfolio-container .images .image-box .image-wrapper .image {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    transition: opacity 1s ease-in-out;
    transition: transform 1s ease-in-out;
    transform: scale(1.1);
  }
  #portfolio-section .portfolio-container .images .image-box .image-wrapper .image:hover {
    opacity: 0.6;
    transform: scale(1.2);
  }
  #portfolio-section .portfolio-container .images .image-box .image-heading {
    font-family: "heading";
    padding-top: 1em;
    font-weight: 600;
    transition: transform 0.3s ease-in-out;
    transition: background-color 0.3s ease;
    transition: opacity 1.7s ease !important;
  }
  #portfolio-section .portfolio-container .images .image-box .image-heading.in-view {
    color: var(--colourc);
  }
  #portfolio-section .portfolio-container .images .image-box .image-text {
    font-family: "body";
    padding-top: 1em;
    font-weight: 300;
    padding-bottom: 1em;
    transition: background-color 0.3s ease;
  }
  #portfolio-section .portfolio-container .images .image-box .image-text.in-view {
    color: white;
  }
}
/* Tablet */
/* Small Desktop */
@media only screen and (min-width: 64em) {
  .portfolio-container {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
    padding-bottom: 2em;
    overflow: hidden;
  }
  .portfolio-container .images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 2em;
  }
  .portfolio-container .images .image-box {
    width: 47% !important;
  }
}
/* Large Desktop */
@media only screen and (min-width: 1300px) {
  #portfolio-section .portfolio-container {
    max-width: 1500px;
  }
}
/*-- -------------------------- -->
<---           contact          -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0em) {
  #contact-section {
    position: relative;
    /* Ensure ::before is positioned relative to this */
    align-items: center;
    /* background-color: var(--colourd); */
  }
  #contact-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/images/bg2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
  }
  #contact-section .section-container {
    text-align: center;
    max-width: 90%;
    margin: auto;
  }
  #contact-section .section-container h2 {
    padding-top: 4em;
    padding-bottom: 1em;
    font-size: 1.5em;
    color: var(--colourc);
    font-family: "heading";
  }
  #contact-section .section-container p {
    padding-bottom: 4em;
    font-family: "heading";
    color: black;
  }
  #contact-section .section-container form {
    padding-bottom: 2em;
  }
}
/* Tablet */
/* Small Desktop */
@media only screen and (min-width: 64em) {
  #contact-section .section-container h2 {
    font-size: 2em;
  }
  #contact-section .section-container p {
    font-size: 1em;
  }
}
/* Large Desktop */
@media only screen and (min-width: 1300px) {
  #contact-section .contact-container {
    max-width: 1500px;
  }
}
/*-- -------------------------- -->
<---           section          -->
<--- -------------------------- -*/
/* Mobile */
/* Tablet */
/* Small Desktop */
/* Large Desktop */
